html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	width: 100vw;
	height: 100vh;
	
	background-color: #000000;
}

canvas {
	display: block;
	width: 100vw;
	height: 100vh;
	
	background-color: #000000;
}

#ctrl-form {
	font-size: 12px;
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
#ctrl-form input,
#ctrl-form button,
#ctrl-form select {
	font-size: 12px;
}
#ctrl-form label::before {
	content: "\A";
	white-space: pre;
}
#ctrl-form label:first-of-type::before {
  content: none;
}

#info-panel {
	position: absolute;
	bottom: 10px;
	left: 10px;

	color: #ffffff;
	font-size: 12px;

	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px 10px;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}